<section class="home container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="font-weight-light">Experience The</h2>
            <h1 class="display-4 font-weight-light font-italic">Best Trip Ever</h1>
            <p>We are committed to offering travel services of the highest quality, combining our energy and enthusiasm
                with years of experience.</p>
            <a class="btn btn-lg btn-outline-light" routerLink="/" role="button">Contact us</a>
        </div>
    </div>
</section>

<section class="home-2 container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mb-5">
            <p class="lead font-weight-light font-italic">We Will Make Your Vacation Unforgettable</p>
            <h1 class="font-weight-light">Services We Offer</h1>
            <p>Travel Insurance is compulsory on all Intrepid trips and is a condition of booking with Intrepid. When
                selecting a travel insurance policy we require that at a minimum you are covered for medical expenses,
                including emergency repatriation. We strongly recommend that the policy also covers personal liability,
                cancellation, curtailment and loss of luggage and personal effects.</p>
            <a class="btn btn-outline-secondary" routerLink="/" role="button">Read more</a>
        </div>

        <div class="col-md-8">
            <img class="w-100" src="../../assets/home2.jpg">
        </div>
    </div>
</section>

<section class="home-3 container-fluid mt-5 text-center bg-light p-5">
    <p class="lead font-weight-light font-italic">Why Choose Us</p>
    <h1 class="font-weight-light">Benefits of Working with Our Travel Agency</h1>
    <div class="row">
        <div class="col-md-4 mb-3">
            <img src="../../assets/schedule.png">
            <p class="lead">Everything’s on schedule</p>
            <p>We love punctiality. That’s why the time of each client’s trip is scheduled till the last second of the
                adventure</p>
        </div>

        <div class="col-md-4 mb-3">
            <img src="../../assets/destination.png">
            <p class="lead">Destination variety</p>
            <p>With us, you can reach any point of the world map. Choose your country and we will discuss all needed details.</p>
        </div>

        <div class="col-md-4">
            <img src="../../assets/comfortable.png">
            <p class="lead">Comfortable housing</p>
            <p>Even if you have low budget, you can let yourself to go to the other side of the world and live their in the most comfy surrounding.</p>
        </div>
    </div>
</section>