<nav class="bg-dark p-2">
    <ul class="nav nav-pills">
        <li class="navbar-brand text-light">Travel Agency</li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/home"
                routerLinkActive="btn btn-light text-dark">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/blog"
                routerLinkActive="btn btn-light text-dark">Blog</a>
        </li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/travels"
                routerLinkActive="btn btn-light text-dark">Travels</a>
        </li>
        <li class="nav-item float-right"><a class="nav-link text-light" routerLink="/admin"
                routerLinkActive="btn btn-success">Admin</a></li>
    </ul>
</nav>