<footer class="container-fluid p-5 bg-dark text-light">
    <div class="row">
        <div class="col-md-4 mb-3">
            <h3>About</h3>
            <p>Travel and discover the world with our travel agency. Find the best trips, professional guides, and the
                most convenient accommodations.</p>
        </div>

        <div class="col-md-4 mb-3">
            <h3>Quick Links</h3>
            <ul class="list-unstyled">
                <li><a class="text-light" routerLink="/home">Home</a></li>
                <li><a class="text-light" routerLink="/blog">Blog</a></li>
                <li><a class="text-light" routerLink="/travels">Travels</a></li>
                <li><a class="text-light" routerLink="/admin">Admin</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Subscribe</h3>
            <p>Get the latest traveling news and the hottest last-minute offer right to your inbox. Enter your emails
                and keep informed!</p>
            <form>
                <div class="form-group">
                    <label>Enter you email</label>
                    <input class="form-control form-control-sm" placeholder="me@email.com">
                </div>
                
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Subscribe">
                </div>
            </form>
        </div>
    </div>

</footer>